

.menu-3{
    display: flex;
    margin: 20px 600px;
    margin-top:-50px ;
    list-style: none;

  }
  
  .menu-3 li {
    width: 100px;
    height: 60px;
    transition: background-position-x 0.6s linear;
    text-align: center;
  }
  .menu-3 li a {
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.45s;
  }

  .menu-3 li:hover a {
    background-color: #d94f5c;
  }
  .menu-3 li:not(:last-child) {
    margin-right: 60px;
  }
  
  @-webkit-keyframes line {
    0% {
      background-position-x: 390px;
    }
  }
  
  @keyframes line {
    0% {
      background-position-x: 390px;
    }
  }
  .custom-btn {
    width: 105px;
    height: 50px;
    transition: background-position-x 0.6s linear;
    margin-left: 500px;
    
  }
  
  .custom-btn:hover {
    -webkit-animation: line 1s;
    animation: line 1s;
  }
  
  .custom-btn:hover a {
    background-color: #d94f5c;
  }
  
  .custom-btn:not(:last-child) {
    margin-right: 30px;
  }
  
  @-webkit-keyframes line {
    0% {
      background-position-x: 390px;
    }
  }
  
  @keyframes line {
    0% {
      background-position-x: 390px;
    }
  }
  